@{
    ViewData["Title"] = "About";
}                
@section Styles{   
    <style>
        a.linked{
            color: red;
            font-size: 22pt;
        }
    </style>
}
<h1>@ViewData["Title"]</h1>

<p>This is the super web application</p>
<p><a asp-action="Privacy" class="linked">Privacy number two</a></p>
